form {
    padding: 10px;
    font-size: 20px;
}

.formTitle {
    font-size: 26px;
    text-align: center;
    color: rgb(10, 88, 27);
}

.formInfo {
    margin-bottom: 10px;
    font-size: 12px;
}

.formLabel {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input {
    padding-left: 12px;
    min-height: 40px;
    border: none;
    border-bottom: 3px solid rgb(46, 155, 64);
}

.input:not(:first-child) {
    margin-top: 10px;
}

.input:focus-within {

    border: 1px solid rgb(87, 206, 32);
    outline: none;
}

select {
    border: 2px solid rgb(46, 155, 64);
}

select:focus-within {
    border: 1px solid rgb(87, 206, 32);
    outline: none;
}

.button {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    padding: 8px 0;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
    width: 150px;
    border: 1px solid rgb(11, 100, 11);
    background-color: transparent;
    font-family: inherit;
    font-size: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    cursor: pointer;
    transform: scale(1.1);
}